<repositories>
    <repository>
        <id>spigot-repo</id>
        <url>https://hub.spigotmc.org/nexus/content/repositories/snapshots/</url>
    </repository>
    <repository>
        <id>comphenix-repo</id>
        <url>https://hub.spigotmc.org/nexus/content/repositories/comphenix-repo/</url>
    </repository>
</repositories>